In [1]:
#16.4 
import sqlite3

conn = sqlite3.connect('books.db')

cur = conn.cursor()

cur.execute('''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
''')

conn.commit()
conn.close()

In [3]:
#16.5
import sqlite3
import csv

conn = sqlite3.connect("books.db")
cursor = conn.cursor()

with open('books2.csv', 'r') as file:
    csv_reader = csv.reader(file)
    next(csv_reader)

    for row in csv_reader:
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", (row[0], row[1], row[2]))

conn.commit()
conn.close()

In [5]:
#16.8
from sqlalchemy import create_engine, Table, MetaData

# Create an engine to connect to the SQLite database
engine = create_engine('sqlite:///books.db')

# Create a MetaData object to hold information about the schema
metadata = MetaData()

# Reflect the books table from the database
books_table = Table('books', metadata, autoload_with=engine)

# Query to select titles in alphabetical order
with engine.connect() as connection:
    result = connection.execute(books_table.select().order_by(books_table.c.title))

    # Print the titles
    for row in result:
        print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!